@charset "utf-8";
body, div, header, footer, aside, article, nav, ul, li, ol, form, span, input, img, p, span, em,
strong, h1, h2, h3, a {margin: 0; padding: 0; }
header, footer, aside, article, nav, section {display: block;}
body, input, select {
  font-size: 12px;
  color: #222;
}
ul, ol {
  list-style: none;
}

em, address, i {
  font-style: normal;
}

strong {
  font-weight: 400;
}

img, fieldset {
  border: 0 none;
}

img, input, select {
  vertical-align: middle;
}

a:link,
a:visited{
  color: #222;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #222;
  text-decoration: underline;
}