@charset "utf-8";
// skip 
.skip,
legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* text-indent:-9999px */
  position: absolute;
  left: -999px;
  line-height: 0;
  display: inline-block;
}

#skipMenu {
  position: relative;
  width: 100%;
  z-index: 999;
}

#skipMenu a {
  position: absolute;
  top: -100px;
}

#skipMenu a:hover,
#skipMenu a:active,
#skipMenu a:focus {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
//skip end

// common.css
.wrap {
  width: 100%;
}

.inner{ //layout_margin(left,right)
    width: calc(100% - 434px);
    margin: 0 auto;
}

.btn {
  background-color: #cacaca;
  color: #000;
  border-radius: 50px;
  text-align: center;
}

.input_radius {
  border-radius: 50px;
  border: none;
}

.select_radius {
  border: 50px;
  border: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  width: 100%;
}
// common.css end