input[id=sidebar] {
  display: none;
}

/* 헤더영역 */
header {
  /* background-color:#f5f5f5; */
  position: relative;
  z-index: 4;
}

.header_btn {
  margin-right: 31px;
  position: relative;
  min-height: 70px;
}

.header_btn .home_btn {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 24px;
  left: 53px;
  height: 24px;
}

.header_btn .my_page {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 24px;
  right: 59px;
  height: 24px;
}

.header_btn label.menu {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* 본문영역 */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* 사이드바 */
.sidebar_content {
  position: fixed;
  top: 0;
  right: -309px;
  width: 309px;
  height: 100%;
  background: #fff;
  transition: all .35s;
  z-index: 5;
}

.sidebar_content .items {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 28px;
  margin-top: 26px;
}

.sidebar_content .items li:nth-child(2) {
  margin-left: 25px;
  margin-right: 31px;
  width: 32px;
}

.sidebar_content .sidebar_wrap .list:nth-child(2) {
  margin-top: 83.39px;
}

.sidebar_content .sidebar_wrap .bottom {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.sidebar_content .sidebar_wrap .bottom div {
  font-size: 14px;
  margin: 0 11px 87px 104px;
}

.sidebar_content .sidebar_wrap .bottom a {
  width: 56px;
  height: 56px;
  font-size: 10px;
  line-height: 56px;
  margin: 0 46px 69px 0;
}

.list a {
  color: #000;
  /* width:auto; */
  width: 120px;
  height: 40px;
  line-height: 40px;
  /* padding:7px; */
  margin: 24px 31px;
  font-size: 18px;
  text-align: center;
  float: right;
  /* 부모요소에 뭘 해줘야되는지
  아무것도 안 해주고 바로
  float: right해줘도되는지 */
  transition: 0.5s;
}

.sidebar_content .sidebar_wrap>li>a:hover {
  background: #c4c4c4;
}

.sidebar_content label[for='sidebar'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* 사이드바 외 배경영역 */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  transition: all .35s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}


label.close_label {
  position: absolute;
  top: 3%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 30px;
}

input[id=closeBtn] {
  display: none;
}

// /* input 체크 */
// input#sidebar:checked ~ header label {background-position:-24px 0;}
// input#sidebar:checked ~ .sidebar_content {right:0;}
// input#sidebar:checked ~ .background  {opacity:1;visibility:visible;}
// input#sidebar:checked ~ header {background:rgba(0, 0, 0, 0.26);}