.join_inner{
    margin: 0 auto;
}

.join_user-info input{
    background-color: #E2E2E2;
}

.join_user-info select{
    background-color: #E2E2E2;
}
.join_user-info option{
    background-color: #fff;
}