<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSAC || Home</title>
</head>

<body>
    <h1 class="welcome">Welcome! ssac board! :)</h1>
    <a href="./join/join.html">
        <button>login</button>
    </a>
    <h1>Welcome! :)</h1>
    <a href="./mypage/mypage.html">My page</a>
    <a href="./mypage/changemypage.html">회원정보변경</a>
    <a href="./found/found.html">test</a>
</body>

</html>