<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./menu.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
	<input type="checkbox" id="sidebar">
	<!-- 헤더 네비게이션 -->
	<header>
		<div class="header_btn">
			<a href="" class="home_btn"><i class="fas fa-home fa-2x"></i></a>
			<a href="" class="profile_btn"><i class="fas fa-user fa-2x" style="user-select: auto;"></i></a>
			<label for="sidebar" class="menu">
				<i class="fas fa-bars fa-2x"></i>
			</label>
		</div>
	</header>
	<!-- 사이드바 -->
	<div class="sidebar_content">
		<ul class="sidebar_wrap">
			<li>
				<ul class="items">
					<li><a href=""><i class="fas fa-user fa-2x" style="user-select: auto;"></i></a></li>
					<li><a href=""><i class="fas fa-times fa-2x"></i></a></li>
				</ul>
			</li>
			<li class="list"><a href="#">자유게시판</a></li>
			<li class="list"><a href="#">PROJECT</a></li>
			<li class="list"><a href="#">강의평가</a></li>
			<li class="bottom">
				<div>Team BigDoor</div>
				<a href="#">
					<img src="" alt="팀 로고">
				</a>
			</li>
		</ul>
	</div>
	<label for="sidebar"></label>
	</div>
	<!-- 사이드바 외 영역 -->
	<label for="sidebar" class="background"></label>
	<!-- 본문영역 -->
	<div class="container">
		






		<!-- 본문내용 작성하기 -->








	</div>
</body>
</html>