<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SSAC || Main</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
	<div class="wrap">
		<input type="checkbox" id="sidebar">
		<!-- 헤더 네비게이션 start-->
		<header>
			<div class="header_btn">
				<a href="./index.html" class="home_btn">
					<i class="fas fa-home fa-2x"></i>
				</a>
				<a href="./guest/login.html" class="my_page">
					<i class="fas fa-user fa-2x" style="user-select: auto;"></i>
				</a>
				<label for="sidebar" class="menu open_label">
					<i class="fas fa-bars fa-2x"></i>
				</label>
			</div>
		</header>
		<!-- 사이드바 메뉴 start-->
		<div class="sidebar_content">
			<ul class="sidebar_wrap">
				<li>
					<ul class="items">
						<li><a href=""><i class="fas fa-user fa-2x" style="user-select: auto;"></i></a></li>
						<li>
							<label for="closeBtn" class="close_label">
								<i class="fas fa-times" style="user-select: auto;"></i>
							</label>
							<input type="checkbox" id="closeBtn" class="close_btn">
						</li>
					</ul>
				</li>
				<li class="list"><a href="#">자유게시판</a></li>
				<li class="list"><a href="#">PROJECT</a></li>
				<li class="list"><a href="#">강의평가</a></li>
				<li class="bottom">
					<div>Team BigDoor</div>
					<a href="#">
						<img src="" alt="팀 로고">
					</a>
				</li>
			</ul>
		</div>
		<!-- <label for="sidebar"></label> -->
	<!-- 사이드바 메뉴 end-->
	
	<!-- 메뉴 눌렀을때 배경부분 어두운 색으로 바뀌는 영역 -->
	<div class="background"></div>
	<!--  메뉴 눌렀을때 배경부분 영역 -->

	<!-- inner start -->
	<div class="inner">

		<!-- 본문내용 작성하기 -->
		<h2 class="main_header-title">Contents</h2>
		<section class="main_section">
			<a href="" class="main_link main_board">
				<img src="" alt="">
				<h3 class="main_title">
					자유게시판
				</h3>
			</a>
			<a href="" class="main_link main_project">
				<img src="" alt="">
				<h3 class="main_title">
					프로젝트 모집
				</h3>
			</a>
			<a href="" class="main_link main_evaluation">
				<img src="" alt="">
				<h3 class="main_title">
					강의평가
				</h3>
			</a>
		</section>
	</div>
	<!-- //constents 영역 -->
</body>
</html>