<!DOCTYPE html>
<html lang="ko">

<!--디자인에서 삭제 예정인 template-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSAC || Home</title>
</head>

<body>
    <h1 class="welcome">Welcome! ssac board! :)</h1>
    <h1 class="mypage"> 정보</h1>
    <div class="png"> 정보2 </div>
    <p class="name"> 정보3</p>
    <p class="lecture">정보4</p>
    <a href="../index.html"><button>홈</button></a>

</body>

</html>