<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSAC || mypage</title>
  </head>

  <body>
    <div class="wrap">
      <h1 class="mypage clearfix">
        마이페이지
        <span class="backsquare">박스</span>
      </h1>

      <div class="mainsection">
        <a href="#" class="picsection">회원사진</a>
        <div class="infosection">
          <div class="info">
            <p class="name item">이름</p>
            <p class="campus item">캠퍼스</p>
            <p class="class item">분반</p>
          </div>
          <div class="respectiveinfo">
            <p class="whosename moreinfo">덤블도어</p>
            <p class="whichcampus moreinfo">금천캠퍼스</p>
            <p class="whichclass moreinfo">프론트앤드 PWA과정</p>
          </div>
        </div>
      </div>

      <div class="sidesection clearfix">
        <a href="#" class="whatIwrote"
          >내가 작성한 글
          <span class="box box1">네모</span>
        </a>
        <a href="./change_password.html" class="changepassword"
          >비밀번호 변경
          <span class="box box2">네모</span>
        </a>
      </div>

      <div class="hidden">
        <a href="#" class="drawal clearfix"
          >회원탈퇴
          <span class="box3">네모</span>
        </a>
      </div>
    </div>
  </body>
</html>
