<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSAC || mypage</title>
  </head>

  <body>
        <div class="wrap">
            <div class="inner">
                <div class="my_page_add_margin">

                    <div class="my_page_user-pic">
                        <h1 class="my_page_user-pic__title">My Page</h1>
                        <img class="my_page_user-pic__picture" src="" alt="">
                    </div>

                    <form action="my_page_user-info">
                        
                        <div class="my_page_user-info__name">
                            <p class="my_page_user-info__name-title">이름</p>
                            <input type="text"  class="my_page_user-info__current-name" placeholder="덤블도어">
                        </div>

                        <div class="my_page_user-info__campus">
                            <p class="my_page_user-info__campus-title">캠퍼스</p>
                            <select name="change_campus" id="changeCampus" class="my_page_change_campus">
                                <option value="current_campus">회원가입시 지정값</option>
                                <option value="yeongdeungpo">SeSac영등포</option>
                                <option value="geumcheon">SeSac금천</option>
                                <option value="waiting">수강대기</option>
                            </select>
                        </div>

                        <div class="my_page_user-info__class">
                            <p class="my_page_user-info__class-title">분반</p>
                            <select name="change_process" id="changeProcess" class="my_page_change_process">
                                <option value="current_process">회원가입시 지정값</option>
                                <option value="waiting">수강대기</option>
                                <option value="pwa">PWA 제작 웹프론트엔드 개발</option>
                                <option value="kotlin">코틀린 기반 안드로이드</option>
                                <option value="bigdata">클라우드 기반 MSA 스페셜리스트</option>
                            </select>
                        </div>

                        <div class="my_page_user-info__history">
                            <span class=""></span>
                            <button>내가 작성한 글</button>
                        </div>

                        <div class="my_page_user-info__change-pw">
                            <span class=""></span>

                            <button>비밀번호 변경</button>
                        </div>

                        <div class="my_page_user-info__withdrawl">
                            <button>회원탈퇴</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
  </body>
</html>


