<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSAC || mypage</title>
  </head>

  <body>
      <div class="wrap">
          <div class="inner">
              <div class="my_page_user-pic">
                  <h1 class="my_page_user-pic__title">My Page</h1>
                  <a href="" class="my_page_user-pic__picture">picture</a>
              </div>
              <div class="my_page_user-info">
                  <div class="my_page_user-info__common">
                      <p class="my_page_user-info__common-name">이름</p>
                      <p class="my_page_user-info__common-campus">캠퍼스</p>
                      <p class="my_page_user-info__common-class">분반</p>
                  </div>
                  <div class="my_page_user-info__personal">
                      <a href="" class="my_page_user-info__personal-name">덤블도어</a>
                      <a href="" class="my_page_user-info__personal-campus">금천캠퍼스</a>
                      <a href="" class="my_page_user-info__personal-class">프론트앤드 PWA 과정</a>
                  </div>
              </div>
              <div class="my_page_user-check">
                  <span class="basic_btn"></span>
                  <a href="" class="my_page_user-check__history"></a>
                  <span class="basic_btn"></span>
                  <a href="" class="my_page_user-check__change-pw"></a>
                  <a href="" class="my_page_user-check__withdrawl"></a>
              </div>
          </div>
      </div>
  </body>
</html>
