<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>SSAC || Found</title>
</head>
<body>
  <div class="wrap">
    <input type="checkbox" id="sidebar">
    <!-- 헤더 네비게이션 -->
    <input type="checkbox" id="sidebar">
		<!-- 헤더 네비게이션 -->
		<header>
			<div class="header_btn">
				<a href="./index.html" class="home_btn">
					<i class="fas fa-home fa-2x"></i>
				</a>
				<a href="./guest/login.html" class="my_page">
					<i class="fas fa-user fa-2x" style="user-select: auto;"></i>
				</a>
				<label for="sidebar" class="menu open_label">
					<i class="fas fa-bars fa-2x"></i>
				</label>
			</div>
		</header>
		<!-- 사이드바 메뉴 -->
		<div class="sidebar_content">
			<ul class="sidebar_wrap">
				<li>
					<ul class="items">
						<li><a href=""><i class="fas fa-user fa-2x" style="user-select: auto;"></i></a></li>
						<li>
							<label for="closeBtn" class="close_label">
								<i class="fas fa-times" style="user-select: auto;"></i>
							</label>
							<input type="checkbox" id="closeBtn" class="close_btn">
						</li>
					</ul>
				</li>
				<li class="list"><a href="#">자유게시판</a></li>
				<li class="list"><a href="#">PROJECT</a></li>
				<li class="list"><a href="#">강의평가</a></li>
				<li class="bottom">
					<div>Team BigDoor</div>
					<a href="#">
						<img src="" alt="팀 로고">
					</a>
				</li>
			</ul>
		</div>
		<label for="sidebar"></label>
    <!-- //사이드바 메뉴 -->
    <!-- 메뉴 눌렀을때 배경부분 영역 -->
    <div class="background"></div>
    <!-- // 메뉴 눌렀을때 배경부분 영역 -->
    <!-- 본문영역 -->
    <div class="inner">
      <div class="find_user_inner">
        <h2 class="find_user__h2">ID 찾기</h2>
        <form action="" class="find-id">
          <label for="idPhoneFind" class="find_user_find-id__label">휴대전화</label>
          <input
            type="text"
            id="idEmailFind"
            class="input_radius find_user_find-id__id-phone-input"
            placeholder="-를 제외하고 넣어주세요."
          />
          <input
            type="submit"
            value="완료"
            class="input_radius find_user_find-id__id-phone-btn"
          />
        </form>
        <h2 class="find_user__h2__find_pw">PW 찾기</h2>
        <form action="" class="find-pw">
          <div class="find_user_find-pw__box">
            <label for="pwPhoneFind" class="find_user_find-pw__label">휴대전화</label>
            <input
              type="text"
              id="pwEmailFind"
              class="input_radius find_user_find-pw__pw-phone-input"
              placeholder="-를 제외하고 넣어주세요"
              />
              <input
              type="submit"
              value="인증코드 발송"
              class="input_radius find_user_find-pw__pw-phone-btn"
              />
            </div>
            <div class="find_user_find-pw__box find_user_find-pw__box-code">
              <label for="pwCodeFind" class="find_user_find-pw__label find_user_find-pw__label-code">인증코드</label>
              <input
              type="text"
              id="pwCodeFind"
              class="input_radius find_user_find-pw__pw-code-input"
              placeholder="인증코드를 입력해주세요"
            />
            <input
              type="submit"
              value="완료"
              class="input_radius find_user_find-pw__pw-code-btn"
            />
          </div>
          <div class="find_user_find-pw__box find_user_find-pw__box-reset">
            <label for="pwReset" class="find_user_find-pw__label find_user_find-pw__label-pw-reset">비밀번호 재설정</label>
            <input
              type="text"
              id="pwReset"
              class="input_radius find_user_find-pw__pw-reset-input"
              placeholder="비밀번호를 재설정 해주세요"
            />
            <input
              type="submit"
              value="완료"
              class="input_radius find_user_find-pw__pw-reset-btn"
            />
          </div>
        </form>
      </div>
    </div>
	</div>
</body>
</html>