<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SSAC || Found</title>
</head>
<body>
  <div class="wrap">
    <div class="inner">
      <h2>ID 찾기</h2>
      <form action="" class="find-id">
        <label for="idEmailFind">Email</label>
        <input
          type="email"
          id="idEmailFind"
          class="find_user_find-id__id-email-input"
        />
        <input
          type="submit"
          value="완료"
          class="find_user_find-id__id-email-btn"
        />
      </form>
      <h2>PW 찾기</h2>
      <form action="" class="find-pw">
        <label for="pwEmailFind">Email</label>
        <input
          type="email"
          id="pwEmailFind"
          class="find_user_find-pw__pw-eamil-input"
        />
        <input
          type="submit"
          value="인증코드 발송"
          class="find_user_find-pw__pw-email-btn"
        />
        <label for="pwCodeFind">인증코드</label>
        <input
          type="text"
          id="pwCodeFind"
          class="find_user_find-pw__pw-code-input"
        />
        <input
          type="submit"
          value="완료"
          class="find_user_find-pw__pw-code-btn"
        />
        <label for="pwReset">비밀번호 재설정</label>
        <input
          type="text"
          id="pwReset"
          class="find_user_find-pw__pw-reset-input"
        />
        <input
          type="submit"
          value="완료"
          class="find_user_find-pw__pw-reset-btn"
        />
      </form>
    </div>
  </div>
</body>
</html>