<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SSAC || Found</title>
</head>
<body>
  <div class="wrap">
    <div class="inner">
      <h2>ID 찾기</h2>
      <form action="" class="find_id">
        <label for="idEmailFind">Email</label>
        <input type="email" id="idEmailFind" class="id_eamil_input" />
        <input type="submit" value="완료" class="id_email_btn" />
      </form>
      <h2>PW 찾기</h2>
      <form action="" class="find_pw">
        <form action="" class="find_pw">
          <label for="pwEmailFind">Email</label>
          <input
            type="email"
            id="pwEmailFind"
            class="pw_eamil_input"
          />
          <input
            type="submit"
            value="인증코드 발송"
            class="pw_email_btn"
          />
          <label for="pwCodeFind">인증코드</label>
          <input
            type="text"
            id="pwCodeFind"
            class="pw_code_input"
          />
          <input
            type="submit"
            value="완료"
            class="pw_code_btn"
          />
          <label for="pwReset">비밀번호 재설정</label>
          <input
            type="text"
            id="pwReset"
            class="pw_reset_input"
          />
          <input
            type="submit"
            value="완료"
            class="pw_reset_btn"
          />
        </form>
      </form>
    </div>
  </div>
</body>
</html>