<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SSAC || My page</title>
</head>
<body>
  <div id="wrapper">
    <header class="header-wrapper">
      <h1 class="logo">SeSAC</h1>
      <nav class="menu">
        <ul class="">
          <li>
            <a href="" class="my-page">로그인</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="item_group">
      <article class="item">
        <a href="#">
          <span>
            <em>자유 게시판</em>
          </span>
        </a>
      </article>

      <div class="item">
        <a href="#">
          <span>
            <em>프로젝트 모집</em>
          </span>
        </a>
      </div>

      <div class="item">
        <a href="#">
          <span>
            <em>강의 평가</em>
          </span>
        </a>
      </div>
    </section>
  </div>
</body>
</html> 