@import "./main/main.scss";
@import "./main/reset.scss";

@import "./loginsan/loginsan.scss";

@import "./mypage/mypage.scss";
@import "./mypage/reset.scss";

@import "./join/home.scss";
@import "./join/join.scss";
@import "./join/join_succeed.scss";

@import './Found/found.scss';

div,
h1,
span,
a,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


h1 {
    color: teal;
    background-color: orange;
}

