.undo{
    display: block;
    background-image: url(../../img/undo-25-32.png);
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    margin-left:53px;
    margin-top:35px;
}

.wrap{
    text-align:center;
    margin-top:145px;
}

h1{
    display:inline-block;
    font-size:36px;
}

.id,.pw{
    border:none;
    border-radius:10px;
    background-color:#e6e6e6;
    width:387px;
    height:70px;
    padding-left:27px;
    display: block;
    margin:0 auto;
}

.id{
    margin-top:40px;
}

.pw{
    margin-top:10px;
}

.login{
    border:none;
    border-radius:10px;
    background-color:#cacaca;
    width:414px;
    height:70px;
    margin-top:50px;
    margin-bottom:15px;
    font-size:24px;
    font-weight: bold;
}

.find_wrap{
    width:414px;
    margin: 0 auto;
}

.find_wrap li{
    display: inline-block;
}

.find_wrap li:nth-child(1){
    float:left;
}

.find_wrap li:nth-child(2){
    float:right;
}




