.main_title {
  font-size: 36px;
  margin: 0 auto;
}

.main_section {
  display: flex;
  width: 670px;
  height: 519px;
  margin: 0 auto;
}

.main_link {
  width: 196px;
  height: 399px;
  background-color: #cacaca;
}

.main_board {
  margin: 0 41px 121px 0;
}

.main_project {
  margin: 120px 41px 0 41px;
}

.main_evaluation {
  margin: 55px 0px 65px 41px; 
}

.main_title {
  font-size: 18px;
  font-weight: bold;
}